@font-face {
    font-family: ornaments;
    src: url(../fonts/DeborahOrnaments.ttf);
  }

  @font-face {
      font-family: divide;
      src: url(../fonts/ornamentDesign.ttf);
  }

  @font-face {
    font-family: divider;
    src: url(../fonts/divider.otf);
}

.divider {
   border-top: 2px solid black;
   width: 30%;
   margin-bottom: 1em;
}

body {
    /* background: grey; */
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: 'Helvetica', 'Arial', 'sans-serif';
}

.contentWidth {
    width: 80vw;
    margin: auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

header {
    background-image: url(../img/bg_header.png);
    background-size: cover;
}

#gradient > nav {
    display: grid;
    grid-template-columns: 1fr 2fr 0.5fr; 
}

#gradient{
    background: -webkit-linear-gradient(90deg, rgba(255,255,255,0) 75%, rgba(0,0,0,1) 100%);
}

ul.mainNav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    padding: 0;
    font-variant: small-caps;
    font-weight: 800;
    font-size: 2em;
}

ul.mainNav.links li {
    transition: border 0.2s;
    border-color: white;
}

ul.mainNav.links li:hover{
    border-bottom: 2px solid white;
}

ul.sm {
    justify-content: space-between;
    align-items: baseline;
    padding: 0 2em;
}

#intro {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 4%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-size: 3em;
    font-weight: 200;
    text-align: center;
    padding-bottom: 3em;
}

#buttons {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    width: 30%;
} 

.btn:first-child {
    background-color: black;
    opacity: 0.5;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: all 0.5s;
}

.btn:first-child:hover {
    transform: scale(1.1);
    background-color: black;
    font-weight: 600;
   
}

.btn:nth-child(2) {
    background-color:white;
    opacity: 0.5;
    border: none;
    color: black;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: all 0.5s;
}

.btn:nth-child(2):hover {
    transform: scale(1.1);
    background-color:white;
    font-weight: 600;
}

#about, #menu {
    background: url(../img/pattern.png);
    padding: 5em 0;
}
.about {
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    grid-gap: 10%;
    align-items: center; 
}

.about .dish {
    justify-self: center;
    justify-items: center;
}

#txtAbout {
    text-align: center;
    padding: 0 20px;
    display: grid;
    grid-template-rows: 0.5fr auto.5fr 1fr auto;
    justify-items: center;
}

h1 {
    font-size: 2em;
    text-align: center;
}

#txtAbout h1 {
    color: goldenrod;
}

/* INGREDIENT SECTION */
#ingredients {
    background: url(../img/bg_ingredients.png);
    background-size: cover;
}

#ingredients .contentWidth > * {
    width: 50%;
    height: 500px;
}

/* #ingredients .contentWidth {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
} */

#ingredients .contentWidth{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}

#ingredients .contentWidth article:nth-child(2){
    align-self: center;
    height: 50%;
    background: rgba(0,0,0,0.4);
    padding: 25px 75px;
    text-align: center;

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.ingredientPic {
    width: 30%;
}

/* MENU SECTION */
#menu > .contentWidth {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    padding: 50px;
}

.dish > div {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    border-bottom: 5px solid transparent;
    border-image: url(../img/divider.png) 5 5;
}

#left-col, #right-col {
    padding: 0 100px;
}

/* GUEST REVIEW SECTION */
#reviews {
    background: url(../img/bg_reviews.png);
    background-size: cover;
    height: 500px;
    text-align: center;
    color: whitesmoke;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

#reviews .contentWidth {
    background: rgba(0,0,0,0.8);
    padding: 50px;
    width: 35%;
}

#reviews .contentWidth h1{
    border-bottom: 5px solid transparent;
    border-image: url(../img/divider.png) 5 5;
}

/* RESERVATION SECTION */
.reservationGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    padding: 50px 0;
}

.reservationGrid img {
    width: 90%;
    height: auto;
}

/* FOOTER */
footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    padding: 50px 0;
    background: black;
    color: whitesmoke;
}